footer {
    background: #000000;
    padding: 3em;
    color: #fff;
}

footer p{
    color: #fff;
}

ul.social li{
    display: inline;
    
}
ul{
    text-align: center;
}
footer div{
    text-align: center;
    font-size: small;
}